/* Navbar */
header {
  display:flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #E4E9F2;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

a {
  color: hsl(219, 9%, 45%)
}

#navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.nav-item {
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
position: relative;
z-index: 1;
cursor:pointer;
}

.nav-item:hover:after  {
position: absolute;
content: '';
z-index: -1;
height: 4px;
width: 58px;
background-color: #FF7E1B;
top: 4.4rem;
}

#nav-name {
  font-size: 50px;
}

#nav-user-info {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#nav-user-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width:30%;
  position: relative;
}

#nav-open-close-menu {
  display: none;
}

/* MOBILE */

@media (max-width: 50em) {
  #navigation {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1;
    top: 2rem;
    left: -1rem;
    background-color: white;
    width: 70%;
    height: 100vh;
    font-weight: bold;
  }

  #nav-open-close-menu {
    display:inline;
    position: absolute;
    z-index: 2;
    top: 1rem;
    left: -1rem;
  }

  .nav-item {
    margin-top: 1rem;
    color: black;
  }
}