.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
  font-family: 'Kumbh Sans', sans-serif;
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E4E9F2;
    width: 80%;
    margin: 0 auto;
}

a {
    color: hsl(219, 9%, 45%)
}

#navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#company {
    font-size: 50px;
}

#user-info {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#user-cart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:30%;
    position: relative;
}

#cart-display {
  position: absolute;
  height: 256px;
  width: 360px;
  right: 110px;
  top: 110px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  background-color: white;
}

#cart-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #E4E9F2;
  font-weight: bold;
  height: 75px;
}

#cart-header {
  margin-left: 1rem;
}

#cart-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  font-weight: bold;
  color: #69707D
}



#cart {
    height: 20px;
    width: 21px;
    margin-right: 2rem;
}

#avatar {
    height: 50px;
    width: 50px;
    /* border-radius: 360%;
    border: 2px solid #FF7E1B */
}

#avatar-active {
  border-radius: 360%;
  border: 1px solid #FF7E1B
}

#main-content {
  height: 80vh;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

#product-image {
  width: 445px;
  height: 445px;
  border-radius: 15px;
}

#product-thumbnails {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.current-image {
  height: 88px;
  width: 88px;
  border-radius: 10px;
}

.current-image:hover {
  opacity: 50%;
}

#product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 445px;
  height: 426px;
}

#company-name {
  color: hsl(26,100%,55%);
  font-weight: bold;
  font-size: 1.1rem;
}

#product-description, #product-title {
  margin-top: 0;
}

#product-description {
  margin-top: -1rem;
}

#product-title {
  font-size: 3rem;
  font-weight: bold;
}

#product-prices {
  display:flex;
  flex-direction: column;
  height: 68px;
}

#product-current-price {
  display: flex;
  width: 173px;
}

#current-price {
  font-weight: bold;
}

#sale-price {
  background-color:hsl(25,100%,94%);
  color: hsl(26,100%,70%);
  border-radius: 6px;
  width: 51px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

#product-original-price {
  margin-top: -1rem;
  color:hsl(220, 14%, 75%);
  text-decoration: line-through;
}

#add-to-cart {
  display: flex;
  width: 450px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

#quantity {
  display:flex;
  background-color: hsl(223,64%,98%);
  justify-content: space-evenly;
  align-items: center;
  height: 48px;
  width: 173px;
  border-radius: 8px;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  background-color:hsl(26,100%,55%);
  border-radius: 8px;
  box-shadow: hsl(26,100%,70%) 0px 20px 30px -10px;
}

#cart-text, #cart-image {
color:white;
font-weight: bold;
}


#cart-image {
  filter: brightness(0) invert(1);
  height: 19px;
  width: 17px;
  margin-right: 1rem;
}

.selected {
  border: 2px solid hsl(26,100%,55%);;
  opacity: 50%;
}